{% extends 'core/base.html' %}

{% block title %} dashboard {%endblock%}

{% block content %}
<div class="py-6 px-6">
   <h1 class=" mb-6 text-xl"> dashboard </h1>
    <div class="flex space-x-6">
        <div class="w-1/2  px-4 py-6 bg-gray-100 rounded-xl leads">
            <h2 class="mb-2 text-lg">Newest Lead </h2>

            {% for lead in leads %}
                <div class="py-5 px-5 lead">
                    <h3 class="font-semibold"> {{lead.name}}</h3>
                     <a href="{% url 'leads_detail' lead.pk %}"> Read more</a>
                 </div>
            {% endfor%}

        </div>
        
           <div class="w-1/2 px-4 py-6 bg-gray-100 rounded-xl clients">
                 <h2 class="mb-2 text-lg">Newest Clients </h2>
                 
            {% for client in clients %}
            <div class="py-5 px-5 client ">
                <h3 class="font-semibold"> {{client.name}}</h3>
                 <a href="{% url 'clients_detail' client.pk %}"> Read more</a>
             </div>
        {% endfor%}

            </div>
    </div>
</div>
{% endblock %}
